<p>Hi Agent!</p>
<br/>
<p> Here is your login details for <a href="{{ app.request.schemeAndHttpHost }}/admin/login"> Travel App Portal</a>:</p>
<p> Username: {{user.username }}</p>
<p> Password: {{password }}</p>
<br/>
<p>Thanks</p>
<p>Travel App</p>